# 忽略所有 target 目录（包括子模块）
**/target/

# IDE files IDE文件
.idea/
*.iml

# Java class files Java的类文件
*.class

# Test files 测试文件
*Test.java
**/test/

# Log files 日志文件
*.log

# Build artifacts 临时编译文件
*.jar
*.war

# Other IDE-specific files 其他IDE临时文件
*.swp
